<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2 class="text-center text-primary">LOGIN FORM FOR ADMIN</h2>
            <form #ref="ngForm" (ngSubmit)='submit(ref.value)'>
                <div class="form-group">
                    <label for="login">UserName</label>
                    <input type="text" name="name" class="form-control" id="login" ngModel>
                </div>
                <div class="form-group">
                    <label for="lpassword">Password</label>
                    <input type="password" name="password" class="form-control" id="lpassword" ngModel>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-success" type="submit">LOGIN</button>
                </div>

            </form>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>