<ul class="nav nav-expand-sm content-justify-center">
    <li class="nav-item">
        <a class="nav-link" routerLink="/home/dopay">Do payment</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/home/paymenthistory">View payment history</a>
    </li>
</ul>