<div class="container">
    <h2 class="text-center text-success">Change password</h2>
    <div class="row mt-3">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form #ref="ngForm" (ngSubmit)='changepassword(ref.value)'>
                <div class="form-group">
                    <label>username:</label>
                    <input type="text" name="username" class="form-control" ngModel>
                </div>
                <div class="form-group">
                    <label for="">Enter new password:</label>
                    <input type="password" name="password" class="form-control" ngModel>
                </div>
                <label>TYPE OF USER:</label>
                <div class="form-check">
                    <label for="a" class="form-check-label">
                        <input type="radio" name="user" id="a" value="owner" class="form-check-input" ngModel>Owner
                    </label>
                </div>
                <div class="form-check">
                    <label for="b" class="form-check-label">
                        <input type="radio" name="user" id="b" value="vendor" class="form-check-input" ngModel>Vendor
                    </label></div>
                <div class="form-group text-center">
                    <button class="btn btn-success">submit</button>
                </div>
            </form>
        </div>
    </div>
</div>