<div class="container-fluid">
  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://indaily.com.au/wp-content/uploads/2019/04/Screen-Shot-2019-04-12-at-8.04.06-am-850x455.png"
          style="width:100%" height="500px" alt="">
      </div>
      <div class="carousel-item">
        <img src="https://www.richmondamerican.com/content/community/media-27929-thumbnail.jpg" style="width:100%"
          height="500px" alt="">
      </div>
      <div class="carousel-item">
        <img src="https://i.ytimg.com/vi/mp6BN3vGZOY/maxresdefault.jpg" style="width:100%" height="500px" alt="">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>

  </div>
  <div class="card">
    <div class="card-header">
      <h3 class="text-primary">About us:</h3>
      <p>To get information about how rental houses are currently
        being managed, I prepared questionnaires and submitted them to
        a number of rental house managers and from the information I
        gathered I realized all work was done manually with a lot of
        paper work involved. Papers can easily get damaged or get lost
        leading to loss of data. It is also expensive to keep on buying
        files to store your records. A lot of files make a place look untidy
        and also consume a lot of space. Getting a certain file to check
        data from many files becomes a difficult task.
      </p>
    </div>

  </div>

</div>