<div class="container">
    <h3 class="text-success">OWNER DASHBOARD</h3>
    <div class="row">
        <div class="col-md-3">
            <div class="card text-center">
                <div class="form-control">
                    <a routerLink="/dashboard/profile">Profile</a>
                </div>
                <div class="form-control">
                    <a routerLink="/dashboard/addhouse">Add house</a>
                </div>
                <div class="form-control">
                    <a routerLink="/dashboard/viewhouse">View house </a>
                </div>
                <div class="form-control">
                    <a routerLink="/dashboard/viewclient">View client</a>
                </div>
                <div class="form-control">
                    <a routerLink="/dashboard/myrequests">MyRequests</a>
                </div>
                <div class="form-control">
                    <a routerLink="/dashboard/payments">Payments</a>
                </div>
                <div class="">
                    <button class="btn text-primary" (click)='logout()'>Logout</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <router-outlet></router-outlet>
        </div>

    </div>
</div>