<div class="container">
    <form #ref3="ngForm" (ngSubmit)='addpay(ref3.value)'>
        <div class="form-group">
            <label>Account Number:</label>*
            <input type="number" name="account" class="form-control" ngModel #ref1="ngModel" required>
            <label *ngIf="ref1.invalid && ref1.touched" class="text-danger">*this field is mandatory</label>
        </div>
        <div class="form-group">
            <label>IFSC Code:</label>*
            <input type="type" name="ifsc" class="form-control" ngModel #ref2="ngModel" required>
            <label *ngIf="ref2.invalid && ref2.touched" class="text-danger">*this field is mandatory</label>
        </div>
        <div class="form-group">
            <label>GOOGLEPay:</label>
            <input type="number" name="pay" class="form-control" ngModel>
        </div>
        <div class="form-group text-center">
            <button class="btn btn-success">ADD</button>
        </div>
    </form>
</div>