<div class="container-fluid">
  <h2 class="text-dark">
    <marquee behavior="alternate" direction="left-right">HOUSE RENTAL MANAGEMENT SYSTEM</marquee>
  </h2>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">
      <img src="https://jhmrad.com/wp-content/uploads/house-ygs-design-development-archinect_134019.jpg" width="100px"
        height="60px" alt="">
    </a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#C">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="C">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="carousel">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/login">ADMIN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login">LOGIN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contactus">CONTACT US</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>