<div class="container">
    <div class="row">

        <div class="col-md-6">
            <h2 class="text-center text-warning"><U>EDIT PROFILE</U></h2>
            <form #ref6="ngForm" (ngSubmit)='edit1(ref6.value)'>
                <div class="form-group">
                    <label>ENTER NAME</label>
                    <input type="text" name="username" class="form-control" [(ngModel)]="currentuser.username">
                </div>
                <div class="form-group">
                    <label>DATE OF BIRTH</label>
                    <input type="date" name="date" class="form-control" [(ngModel)]="currentuser.date">
                </div>
                <div class="form-group">
                    <label>EMAIL ID</label>
                    <input type="text" name="email" class="form-control" [(ngModel)]="currentuser.email">
                </div>
                <div class="form-group">
                    <label>MOBILE NO.</label>*
                    <input type="number" name="number" class="form-control" [(ngModel)]="currentuser.number"
                        #ref1="ngModel" minlength="10" maxlength="10">
                    <label *ngIf="ref1.invalid" class="text-danger">*this field is atlast 10 digits</label>
                </div>
                <div class="form-group">
                    <label>PASSWORD</label>*
                    <input type="password" name="upassword" class="form-control" ngModel #ref2="ngModel" minlength="5"
                        required>
                    <label *ngIf="ref2.invalid" class="text-danger">*this field contain atleast 5 characters</label>
                </div>
                <div class="form-group">
                    <label>ADDRESS</label>
                    <textarea name="address" id="" rows="5" class="form-control"
                        [(ngModel)]="currentuser.address"></textarea>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-info" type="submit">REGISTER</button>
                </div>
            </form>
        </div>
    </div>
</div>