<div class="container">
    <table class="table">
        <thead>
            <th>Vendorname</th>
            <th>Address</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Account no</th>
            <th>IFSC Code</th>
            <th>Status</th>
        </thead>
        <tr *ngFor='let pay of clients'>
            <td>{{pay.vendorname}}</td>
            <td>{{pay.address1}}</td>
            <td>{{pay.amount}}</td>
            <td>{{pay.month}}</td>
            <td>{{pay.acno}}</td>
            <td>{{pay.code}}</td>
            <td>{{pay.paystatus}}</td>
        </tr>
    </table>
</div>